[submodule "BactaTank-Classic-Blender-Plugin"]
	path = BactaTank-Classic-Blender-Plugin
	url = https://github.com/AlubJ/BactaTank-Classic-Blender-Plugin
[submodule "BactaTankUtils"]
	path = BactaTankUtils
	url = https://github.com/AlubJ/BactaTankUtils
[submodule "DDSTool"]
	path = DDSTool
	url = https://github.com/AlubJ/DDSTool
